header {
    margin: 28px auto;
    width: 90vw;
    background-color: #322A59;
    border-radius: 13px;
    text-align: center;
    color: #E9C118;
    padding: 0 0 20px 0; 
}

h2 {
    padding-bottom: 10px;
    border-bottom: 2px solid;
    /* margin: 12px auto; */
    text-shadow: 0 0 3px #fff;
    background-color: #E9C118 ;
    color: #322A59;
    border-radius: 12px 12px 0 0;
}